:root{
    --color-white: #ffffff;
    --color-black: black;
    --color-light-gray:#E5E5E5;
    --color-dark-red :#650010;
    --color-silver: #C5C5C5;
    --color-natural-gray:#808080;
    --color-tomato:tomato;
    --color-wine-red:#2f0209;
    --color-merlot:#6a2732;
    --color-midnight-blue:#1B1C30;
    --color-green:hwb(120 0% 50%);
}