.register-wrapper__input{
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: -webkit-fill-available;
  
    &::placeholder {
      color: var(--color-silver);
    }
  
    &:focus{
      outline: none;
    }
      
    @media (max-width: 1025px) {
      border-radius: 8px;
    }
  
    @media (max-width: 769px) {
      padding: 8px;
    }
}

.register-wrapper__icon-eye {
    position: absolute;
    left: 87%;
    top: 10%;
    cursor: pointer;

    @media (max-width: 1025px) {
      left: 87%;
      top: 12%;
    }

    @media (max-width: 769px) {
      left: 85%;
      top: 7%;
    }
}