<nav class="navigation">
    <ul class="navigation-list">
        <li>
            <a [routerLink] ='routes.home'><home-icon></home-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.educational'><exclamation-icon></exclamation-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.family'><school-icon></school-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.grades'><event-note-icon></event-note-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.hostel'><credit-card-icon></credit-card-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.issues'><live-help-icon></live-help-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.personalInfo'><account-box-icon></account-box-icon></a>
        </li>
        <li>
            <a [routerLink] ='routes.proctor'><proctor-icon></proctor-icon></a>
        </li>
    </ul>
</nav>

