<div class="container">
    <visp-error [text]="errorText" [isError]="isError" (isErroreChange)="isErroreChange($event)"></visp-error>
    <div class="login-wrapper">
        <div class="login-wrapper__image">
        <img class="login-wrapper__img" src="images/login.png" alt="scale image" />
        </div>
        <div class="login-wrapper__form">
        <h1 class="login-wrapper__title">Welcome Back</h1>
        <form class="login-wrapper__form-container" [formGroup]="loginForm" (ngSubmit)="send()">
            <div class="login-wrapper__block">
                <visp-email formControlName="email" ></visp-email>
                @if(showErrorMessage('email','required')){
                    <span class="error">Please complete the field</span>
                }@else if(showErrorMessage('email','incorrectMail')){
                    <span class="error">Wrong syntax</span>
                }
            </div>
            <div class="login-wrapper__block">
                <visp-password formControlName="password"></visp-password>
                @if(showErrorMessage('password','required')){
                    <span class="error">Please complete the field</span>
                }@else if(showErrorMessage('password','minlength')){
                    <span class="error">The minimum character went be 7</span>
                }
            </div>
         
            <button type="submit" class="wrapper__button"  [style.opacity]="loginForm.valid?1:0.7" [disabled]="!loginForm.valid">
            Let’s Go 
            </button>
            <visp-arrow-right-icon class="login-wrapper__icon-arrow"></visp-arrow-right-icon>
        </form>
        <a routerLink="" class="path">Go to Register page</a>
        </div>
    </div>
    <div class="authorized-copy">
        <p class="authorized-copy-par">Copyright © 2021 VISP. All Rights Reserved</p>
    </div> 
</div>