@import "../authorized-mixin.scss";

.container {

  .login-wrapper {
    @include wrapper(100%);
    padding-top: 100px;

    @media (max-width: 426px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .login-wrapper__image {
      width: 45%;
      .login-wrapper__img {
        width: 100%;
      }

      @media (max-width: 426px) {
        width: 100%;
      }
    }

    .login-wrapper__form {
      @include wrapper__form(35%);
      gap: 56px;
      color: var(--color-natural-gray);
      height: 495px;

      .login-wrapper__title {
        font-size: 24px;
      }

      @media (max-width: 426px) {
        width: 75%;
      }

      .login-wrapper__form-container {
        @include wrapper__form-container(100%);
        gap: 45px;

        @media (max-width: 769px) {
          gap:35px;
        }

        .login-wrapper__block{
          @include wrapper__form-container(100%);
          gap: 5px;
          height: 65px;
          
          ::ng-deep visp-email{
             input{
              padding:25px;

              @media (max-width: 1025px) {
                padding: 15px;
              }
            }
          }

          ::ng-deep visp-password{
            input{
             padding:25px;

             @media (max-width: 1025px) {
              padding: 15px;
             }
            }

            .wrapper__icon-eye {
              top: 35%;

              @media (max-width: 1025px) {
                top: 15%;
              }
            }
          }

          .login-wrapper__input,
          .login-wrapper__button {
            padding: 25px;
            border: none;
            border-radius: 15px;
  
            &::placeholder {
              color: var(--color-silver);
            }
  
            &:focus{
              outline: none;
            }
            
            @media (max-width: 1025px) {
              padding: 15px;
              border-radius: 8px;
            }
          }
        }
  
        .wrapper__button{
          font-size: 32px;
          padding: 15px 0;

          @media (max-width: 1025px) {
            padding: 8px 0;
          }
        }
      }
    }
  }
}




