<div class="container">
    <div class="login-wrapper">
        <div class="login-wrapper__image">
        <img class="login-wrapper__img" src="images/logo.png" alt="scale image" />
        </div>
        <div class="login-wrapper__form">
        <h1 class="login-wrapper__title">Welcome Back</h1>
        <form class="login-wrapper__form-container" [formGroup]="loginForm" (ngSubmit)="send()">
            <div class="login-wrapper__block">
                <input class="login-wrapper__input" formControlName="registerNumber" type="text" placeholder="Enter Registration Number" />
                @if(showErrorMessage('registerNumber','required')){
                    <span class="error">Please complete the field</span>
                }@else if(showErrorMessage('registerNumber','invalidSymbols')){
                    <span class="error">Please complete only numbers</span>
                }
            </div>
            <div class="login-wrapper__block">
                <input class="login-wrapper__input password" formControlName="password" 
                [type]="crossed?'password':'text'" placeholder="Enter Password" />
                <visp-visibility-icon  class="login-wrapper__icon-eye" 
                (click)="crossed = !crossed" [crossed]="crossed">
                </visp-visibility-icon>
                @if(showErrorMessage('password','required')){
                    <span class="error">Please complete the field</span>
                }
            </div>
         
            <button type="submit" class="login-wrapper__button"  [style.opacity]="loginForm.valid?1:0.7">
            Let’s Go 
            </button>
            <visp-arrow-right-icon class="login-wrapper__icon-arrow"></visp-arrow-right-icon>
        </form>
        </div>
    </div>
    <div class="login-copy">
        <p class="login-copy-par">Copyright © 2021 VISP. All Rights Reserved</p>
    </div> 
</div>