@import "../../../../public/style/mixin.scss";

.home{
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 74px;

    .home__header{

        .home__title{
            font-weight: 800;
            font-size: 26px;
            padding: 0;
            margin: 0;
            margin-top: 15px;
        }
     
    }

    .home__subtitle{
        font-size: 18px;
        font-weight: 700;
    }

    .home__dashboard{
        .home__select-block{
            display: flex;

            .home__weekday-selector{
                border: none;
                padding: 5px;
                font-size: 18px;
                font-weight: 700;
                background-color: var(--color-light-gray);
                cursor: pointer;
    
                &:focus{
                    outline: none;
                }
             
            }
        }
      
        .home__schedule{
            display: flex;
            gap:60px;
   
            &::after{
                content: '';
                position: relative;
                top:0;
                right: 57%;
                width: 1px;
                height: 115px;
                background-color: var(--color-natural-gray);

            }

            .home__schedule-list{
                @include list(18px);
                .home__schedule-item{
                    gap: 20px;
                    letter-spacing: 1px;
                    line-height: 30px;

                    &:nth-child(5) {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                    
                    &:nth-child(6) {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }

                    &:nth-child(7) {
                        grid-column: 2/3;
                        grid-row: 3/4;
                    }

                    .home__schedule-item-time{
                        padding-right: 10px;
                    }
                }
            }
        }

    }

    .home__attendance{

        .attendance{
            margin-top: 20px;
            margin-bottom: 5px;
        }
        
        .home__attendance-list{
            @include list(18px);
            
            .home__attendance-item{
                display: flex;
                gap: 24px;

                .item--name{
                    width: 156px;
                    display: block;
                    margin: 0;
                    padding: 5px;
                }

                .home__attendance-percent{
                    display: inline-block;
                    height: 10px;
                    border-radius: 5px;
                    background-color: var(--color-wine-red);
                    align-self: center;
                
                }
            }
        }
    }

    .home__grades{

        .home__grades__container{
            display: flex;
            gap:40px;
        
            .home__grades-list{
                background-color: var(--color-white);
                border-radius: 15px;
                padding: 15px 30px;
                text-align: center;

                .home__grades-item-sumary{
                    color: var(--color-wine-red);
                    font-weight: bold;
                    font-size: 30px;
                    margin: 0;
                }

                .home__grades-item-credit{
                    color: var(--color-natural-gray);
                    font-size: 18px;
                }

                .home__grades-item-sem{
                    color: var(--color-natural-gray);
                    font-size: 20px;
                }
            }
        }
    }
}