.home{
    color: var(--color-black);
    .home__header{
        font-weight: 800;
        font-size: 36px;
    }

    .home__dashboard{
        .home__select-block{
            display: flex;

            .home__timetable{
                font-size: 24px;
                font-weight: 700;
            }

            .home__weekday-selector{
                border: none;
                padding: 5px;
                font-size: 24px;
                font-weight: 700;
                background-color: var(--color-light-gray);
                cursor: pointer;
    
                &:focus{
                    outline: none;
                }
             
            }
        }
      
        .home__schedule{
            display: flex;
            gap:60px;
   
            &::after{
                content: '';
                position: relative;
                top:0;
                right: 55%;
                width: 1px;
                height: 115px;
                background-color: var(--color-natural-gray);

            }

            .home__schedule-list{
                list-style: none;
                font-size: 24px;
                margin: 0;
                padding: 0;

                .home__schedule-item{
                    display: flex;
                    gap: 20px;
                    letter-spacing: 1px;
                    line-height: 30px;

                    .home__schedule-item-time{

                    }
                }
            }
        }

    }
}