.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.path{
    margin-top: 5px;
    text-decoration: none;
    color: var(--color-natural-gray);
}

.error{
    color: var(--color-tomato);
    font-size: 12px;
    text-align: center;
}

.wrapper__button{
    cursor: pointer;
    background-color: var(--color-dark-red);
    color: var(--color-white);
    letter-spacing: 2px;
    border: none;
    border-radius: 15px;
}

.authorized-copy {
    .authorized-copy-par {
      text-align: center;
      color: var(--color-natural-gray);
    }
  }