:host{
    transform: translate(100px, 40px);
    @media (max-width: 1026px) {
        transform: translate(0, 40px);
    }
}

.container{
    .infoForm{
        display: flex;
        font-size: 18px;
        @media (max-width: 1441px) {
            gap:160px;
        }

        @media (max-width: 1025px) {
            font-size: 14px;
            gap:0;
        }

        @media (max-width: 769px) {
          justify-content: center;
          gap:30px;
        }
       
        .infoForm__block{
        
            .infoForm__field{
                padding: 6px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .infoForm__field-label{
                    letter-spacing: 2px;
                }

                .infoForm__field-input{
                    background-color: var(--color-light-gray);
                    padding: 5px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    width: 290px;
                    @media (max-width: 1025px) {
                        font-size: 14px;
                        width: 260px;
                    }

                    @media (max-width: 769px) {
                        font-size: 12px;
                        width: 200px;
                    }
                 
                }

                .infoForm__field-select{
                    outline: none;
                    border: none;
                    background-color: var(--color-light-gray);
                    font-size: 18px;
                    width: 300px;
                    @media (max-width: 1025px) {
                        font-size: 14px;
                        width: 270px;
                    }

                    @media (max-width: 769px) {
                        font-size: 12px;
                        width: 210px;
                    }
                }

                .user__picture{
                    width: 350px;
                    height: 350px;

                    @media (max-width: 1025px) {
                        width: 310px;
                        height: 310px;
                    }

                    @media (max-width: 1025px) {
                        width: 200px;
                        height: 200px;
                        margin-top: 50px;
                    }

                }
            }

        }

        .btn{
            cursor: pointer;
            background-color: var(--color-dark-red);
            color: var(--color-white);
            letter-spacing: 2px;
            border: none;
            border-radius: 15px;
            padding: 15px;
            width: 250px;
            transform: translate(170%, 70px);
            @media (max-width: 1025px) {
                transform: translate(100%, 50px);
            }
        }
    }

}