/* You can add global styles to this file, and also import other style files */
@import "../public//style/poppins-font.scss";
@import "../public/style/colors.scss";
// @import "../public/style/mixin.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-light-gray);
 }
 