.container{
    position: relative;
    height: 124px;
    width: 100%;
    background-color: var(--color-dark-red);
    display: flex;
    justify-content: center;

    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header__login{
            height: 81px;
            
            @media (max-width: 769px) {
                width: 150px;
                height: 40px;
            }
         
        }
    
        .header__user{
            position: relative;
            width: 200px;
            

            .header__user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                &:hover{
                    opacity: 0.8;
                    transition: all 0.5s;
                }

                .header__user-icon{
                    height: 78px;
                    width: 78px;
                    border-radius: 50%;
    
                    @media (max-width: 769px) {
                        width: 45px;
                    }
                }

                .header__user-date{
                    color: var(--color-white);
                    font-size: 24px;
    
                    @media (max-width: 769px) {
                        font-size: 16px;
                    }
                }
    
            }
                
    
            @media (max-width: 769px) {
                width: 125px;
            }
        

            & p{
                padding: 0;
                margin: 0;
            }

            .header__user-popap{
                position: absolute;
                left: 0;
                top: 100%;
                background:var(--color-white);
                padding: 8px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 5px;
                z-index: 999;
                
                .user-popap-img{
                    padding: 5px;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    transition: color 0.5s;

                    &:hover{
                        color: var(--color-natural-gray);
                    }

                    .user-popap-file{
                        display: none;
                    }

                    .file-label{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .user-image{
        position: absolute;
        z-index: 999;
        left: 40%;
        top: 146%;
        padding: 16px;
        width: fit-content;
        .user-picture{
            width: 300px;
            height: 300px;
        }
    }
}

.content{
    display: flex;
    justify-content: end;
    @media (max-width: 769px) {
      flex-direction: column;
    }
}

