.container{
    position: relative;
    height: 124px;
    width: 100%;
    background-color: var(--color-dark-red);
    display: flex;
    justify-content: center;

    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header__login{
            height: 81px;
            
            @media (max-width: 769px) {
                width: 150px;
                height: 40px;
            }
        }
    
        .header__user{
            position: relative;
            width: 200px;
            
            .header__user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                &:hover{
                    opacity: 0.8;
                    transition: all 0.5s;
                }

                .header__user-icon{
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
    
                    @media (max-width: 769px) {
                        width: 85px;
                    }
                }

                .header__user-date{
                    color: var(--color-white);
                    font-size: 24px;
    
                    @media (max-width: 769px) {
                        font-size: 16px;
                    }
                }
            }
            
            @media (max-width: 769px) {
                width: 125px;
            }
        
            & p{
                padding: 0;
                margin: 0;
            }
        }
    }

    .user-image{
        position: absolute;
        z-index: 999;
        left: 0;
        top: 0%;
        display: flex;
        flex-direction: column;
        width: 99.8%;
        background-color: #80808045;
        height: 100vh;

        .user-imag-container{
            transform: translate(50%, 50%);
            padding: 16px;
            width: fit-content;
            display: flex;
            flex-direction: column;

            .close{
                align-self: flex-end;
                cursor: pointer;
                position: absolute;
            }

            .user-picture{
                width: 450px;
                height: 450px;
                border-radius: 10px;

                @media (max-width: 769px) {
                    width: 350px;
                    height: 350px;
                }
            }
        }   
    }
}

.content{
    display: flex;

    @media (max-width: 769px) {
      flex-direction: column;
    }

    .router-wrap{

        @media (max-width: 769px) {
            width: 80%;
            align-self: end;
        }

        @media (max-width: 426px) {
            width: 74%;
            align-self: center;
        }
    }
}

.up{

    @media (max-width: 769px) {
        transform: translate(0px, -450px);
        transition:all 1s ease-in-out;
    }

    @media (max-width: 426px) {
        transform: translate(10px, -430px);
        transition:all 1s ease-in-out;
    }
}

.down{

    @media (max-width: 769px) {
        transform: translate(0, 0px);
    }
}

