<div class="container">
    <header class="header">
        <img src="images/MaskGroup.png" alt="login" class="header__login">
        <section class="header__user">
            <user-icon class="header__user-icon"></user-icon>
            <div class="header__user-date">
                <p class="header__user-id">{{student()?.name}}</p>
            </div>
        </section>
    </header>
</div>
<div class="content">
    <visp-nav class="content__nav"></visp-nav>
    <router-outlet class="content__router"></router-outlet>
</div>
